.map {
    height: 550px;
    width: 1470px;
    padding: 5px;
    font-size: 16px;
    border-radius: 1px;
    margin-left: 1 0px;
    font-family: 'Abel', sans-serif;
}

.info {
    padding: 6px 8px;
    font-family: 'Abel', sans-serif;
    font-size : 16px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.body{
    font-family: 'Abel', sans-serif;
}

.titleSite{
    font-weight: 900;
    font-size : 120px;
    font-family: 'Abel', sans-serif;
    color :  RGB(18,106,181);
}

.card-img-top{
    max-width:450px;
    max-height:450px;
}

.optimizeButton {
    background-color: #699DB6;
    border-color: rgba(0,0,0,0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    font-family: 'Abel', sans-serif;
    font-size : 25px;
    color: #FFF;
    height: 50px;
    width: 200px;
}

.optimizeButton:hover {
    background-color: #4F87A2;
    border-color: rgba(0,0,0,0.5);
}

.optimizeButton:active {
    background-color: #3C677B;
    border-color: rgba(0,0,0,0.9);
}

.buyButton {
    background-color: #699DB6;
    border-color: rgba(0,0,0,0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5); 
    font-family: 'Abel', sans-serif;
    font-size : 25px;
    color: #FFF;
    height: 50px;
    width: 200px;
}

.buyButton:hover {
    background-color: #4F87A2;
    border-color: rgba(0,0,0,0.5);
}

.buyButton:active {
    background-color: #3C677B;
    border-color: rgba(0,0,0,0.9);
}

#departurePoint{
    margin-left : 20px;
    margin-right: 20px;
    width: 90%;
    font-family: 'Abel', sans-serif;
}

#departureDate{
    margin-right: 20px;
    margin-left: 5px;
    width: 300px;
    font-family: 'Abel', sans-serif;
}
 
#NbDays{
    width:150px;
    font-family: 'Abel', sans-serif;
}

#basic-addon2{
    width:50px;
}
.currencies{
    position: fixed;
    bottom: 0;
    right: 0;
}

#dropdownMenu1{
    margin-right: 20px;
    margin-left: 20px;
    width: 300px;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
}

#dropdownMenu2{
    margin-right: 20px;
    margin-left: 20px;
    width: 300px;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
}

.depDate{
    font-family: 'Abel', sans-serif;
    font-size: 16px;
}

.panel-title{
    font-family: 'Abel', sans-serif;
    font-size: 24px;
}

.panel-collapse{
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

.label-success{
    font-family: 'Abel', sans-serif;
    font-size: 24px;
}

.alert{
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

.navbar{
    font-family: 'Abel', sans-serif;
    font-size: 18px; 
}

.airport-group{
    font-family: 'Abel', sans-serif;
    font-size: 16px;
}

.carAgentGroup{
    font-family: 'Abel', sans-serif;
    font-size: 16px;
}

.panel-heading{
    font-family: 'Abel', sans-serif;
    font-size: 24px;
}

.list-group{
    font-family: 'Abel', sans-serif;
    font-size: 16px;
}

.panel-body{
    font-family: 'Abel', sans-serif;
}
