.titleSite{
    font-weight: 900;
    font : 120px Arial;
    color : darkblue;
}

.map {
    /*position: absolute;
    top : 200px;
    left: 20px;*/
	height: 600px;
    width: 1200px;
    padding: 5px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 1px;
    margin-left: 1 0px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.startingPanel {
    width : 1400px;
    margin-left: 20px;
}


/* Optimize button */

.optimizeButton {
    background-color: #699DB6;
    border-color: rgba(0,0,0,0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    font: 20px Arial, Helvetica, sans-serif;
    color: #FFF;
    height: 50px;
    width: 200px;
}

.optimizeButton:hover {
    background-color: #4F87A2;
    border-color: rgba(0,0,0,0.5);
}

.optimizeButton:active {
    background-color: #3C677B;
    border-color: rgba(0,0,0,0.9);
}

#departurePoint{
    margin-left : 20px;
    margin-right: 20px;
    width: 90%;
    /*width:500px;*/
}

#departureDate{
    margin-right: 20px;
    margin-left: 5px;
    /*width: 100%;*/
    width: 300px;
}
 
#NbDays{
    /*width: 100%;*/
    width:150px;
}

#basic-addon2{
    width:50px;
}
.currencies{
    position: fixed;
    bottom: 0;
    right: 0;
}

#dropdownMenu1{
    margin-right: 20px;
    margin-left: 20px;
    width: 300px;
}

#dropdownMenu2{
    margin-right: 20px;
    margin-left: 20px;
    width: 300px;
}